* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: beige;
}

header {
  width: 100%;
  background-color: bisque;
  padding: 20px;
  text-align: center;
  position: fixed;
  z-index: 1;
  top: 0;
}

h1 {
  font-size: 40px;
}

a {
  text-decoration: none;
  font-size: 20px;
  margin-left: 5px;
  color: black;
}

a:hover {
  color: blueviolet;
}

img {
  border-radius: 50%;
}

#section_1 {
  border-bottom: 1px solid black;
  text-align: center;
  margin: 200px auto 0 auto;
  width: 90%;
}

#section_1 > p {
  font-size: 16px;
}

#quote {
  font-size: 20px;
}

#section_2 {
  text-align: center;
  margin-top: 40px;
}

h4 {
  font-size: 16px;
}

footer {
  text-align: center;
  background-color: bisque;
  padding: 10px;
  margin-top: 30px;
}
